body {
    padding-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

.label{
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.f-group{
    margin-bottom: 15px;
}

p{
    font-size: 10px;
}

input{
    width: 350px;
    display: block;
}

textarea{
    width: 350px;
    height: 100px;
}


input[type=file]{
    color: transparent;
}


input[type=submit]{
    color: #fff;
    background-color:  #7bd417;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    width: 100px;
    height: 25px;
    margin-top: 10px;
}

input[name="view"]{
    width: 110px !important;
    font-size: 12px !important;
}

.borderCol{
    border-top-color:  #2e86c1 ;
    border-top-width: 4px;
    border-radius: 7px;
}

.editImg{
    padding: 12px 0 0 12px;
}

.description{
    margin: 4px;
    font-size: 12px;
}